@use "./utils" as *;
/* Reset and base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f7fa;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  @include bodyStyling;
}

/* Main container */
.container {
  text-align: center;
  width: 600px;
  padding: 2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 50px;

  /* Headings */

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #006cbfff; /* UT Burnt Orange */
  }

  /* Button */

  @media (max-width: 500px) {
    width: 80%;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: #bf5700; /* UT Burnt Orange */
    }
  }
}
.schoolcontainer {
  @include flexcol;
  @include border(black);
  width: 90%;
  height: auto;
  padding: 100px 0;
  .schoolbox {
    @include flexcol;
    @include border(blue);
    width: 50%;
    h2 {
      font-weight: 400;
      color: #555;
      margin-bottom: 2rem;
    }

    .button#utbutton {
      display: inline-block;
      background-color: #bf5700;
      color: white;
      text-decoration: none;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background 0.3s ease;

      &:hover {
        background-color: #a14b00;
      }
    }

    .button#ricebutton {
      display: inline-block;
      background-color: #00205b;
      color: white;
      text-decoration: none;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background 0.3s ease;

      &:hover {
        background-color: #002ea1ff;
      }
    }
  }
}
