@use "./utils" as *;
/* Reset and base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f7fa;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  @include bodyStyling;
}

/* Main container */
.container {
  text-align: center;
  width: 600px;
  padding: 2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 50px;

  /* Headings */

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #006cbfff; /* UT Burnt Orange */
  }

  /* Button */

  @media (max-width: 500px) {
    width: 80%;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: #bf5700; /* UT Burnt Orange */
    }
  }
}
.schoolcontainer {
  @include flexcol;
  @include border(rgb(198, 192, 192));
  width: 90%;
  height: auto;
  padding: 100px 0;
  .schoolbox {
    @include flexcol;
    @include border(rgb(68, 111, 238));
    border-width: 6px;
    width: 50%;
    padding: 30px 0;
    h2 {
      font-weight: 600;
      color: #555;
      margin-bottom: 2rem;
    }
    p {
      font-size: 20px;
    }

    .button#utbutton {
      display: inline-block;
      background-color: #bf5700;
      color: white;
      text-decoration: none;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background 0.3s ease;

      &:hover {
        background-color: #a14b00;
      }
    }

    .button#ricebutton {
      display: inline-block;
      background-color: #00205b;
      color: white;
      text-decoration: none;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: background 0.3s ease;

      &:hover {
        background-color: #002ea1ff;
      }
    }
  }
}

footer.footer {
  @include flexcol;
  width: 100%;
  height: 200px;
  margin-top: auto;
  color: white;
  font-size: 25px;
  background-color: rgba(59, 91, 220, 1);
  .footercontent {
    width: auto;
    @include flexcol;
    align-items: flex-start;
    p {
      font-weight: bold;
    }
    .links {
      width: 100%;
      @include flexrow;
      justify-content: flex-start;

      gap: 5px;
      i {
        font-size: 40px;
        color: rgba(234, 234, 234, 1);
        margin: 0 5px;
        transition: transform 0.2s ease;
      }
      i.fa-instagram {
        color: rgba(255, 47, 15, 1);
        &:hover {
          color: #c86e89ff; /* LinkedIn blue, or your theme */
        }
        display: none;
      }

      i:hover {
        transform: scale(1.2);
        color: #7eb6edff; /* LinkedIn blue, or your theme */
      }
    }
  }
}
